<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/style.css">
        <title>Django Public Blog - создать статью</title>
    </head>
    <body>
        <div class="content">
            <h1>Написать статью</h1>
            <form method="POST">{% csrf_token %}
                <input class="post-title" type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
                <textarea class="post-text" name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
                <input class="post-create-submit" type="submit" value="Сохранить">
            </form>
            {{ form.errors }}
        </div>
    </body>
</html>