body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive,
.one-post,
.header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.article-all {
    display: block;
    float: right;
}

a {
    color: white;
}

.content,
.registration,
.auth {
    align: center;
}

.content input,
.registration input,
.content textarea,
.auth input {
    display: block;
    border: 8px solid white;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.content .post-title {
    width: 250px;
}

.content .post-text {
    width: 246px;
    height: 200px;
}

.registration input,
.auth input {
    display: block;
    margin: 10px;
}

.error {
    color: red;
    font-weight: bold;
}

.header .menu,
.header .auth {
    display: block;
    margin-left: 850px;
}